[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/gragleas/PX4-Autopilot.git
[submodule "gz_ws/src/asv_wave_sim"]
	path = gz_ws/src/asv_wave_sim
	url = https://github.com/gragleas/asv_wave_sim.git
